<%= form_for @entry, :url => entry_confirm_path do |f| %>
  <div class="page-header">
    <h1>お問い合わせ</h1>
  </div>

  <% if @entry.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @entry.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tr>
      <th><%= f.label :name %></span></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :name_katakana %></span></th>
      <td><%= f.text_field :name_katakana %></td>
    </tr>
    <tr>
      <th><%= f.label :tel %></th>
      <td><%= f.text_field :tel %></td>
    </tr>
    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <% @free_form.text.present? %>
      <%= f.fields_for :free_form do |text| %>
        <tr>
          <th><%= @free_form.text[text.index][:comment] %></th>
          <td><%= text.text_area :free_texts, size: "50x5" %></td>
        </tr>
      <% end %>
  </table>
  <%= f.submit '確認', class: 'btn btn-primary' %>
<% end %>
