<%= form_for @inquiry, url: inquiry_confirm_path do |f| %>
  <div>
    <h1>お問い合わせ</h1>
  </div>

  <% if @inquiry.errors.any? %>
    <div>
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @inquiry.errors.full_messages.each do |msg| %>
          <%# raise %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :tel %></th>
      <td><%= f.text_field :tel %></td>
    </tr>
    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <% @free_form.present? %>
      <%= f.fields_for :answers do |answer| %>
        <tr>
          <th><%#= f.label %></th>
          <td><%= answer.text_area :value, size: "50x5" %></td>
          <td><%= answer.text_area :value2, size: "50x5" %></td>
        </tr>
      <% end %>
  </table>
  <%= f.submit '確認' %>
<% end %>
