<%= form_for @inquiry, url: inquiry_confirm_path do |f| %>
  <div>
    <h1>お問い合わせ</h1>
  </div>

  <% if @inquiry.errors.any? || @inquiry.inquiry_details.any? { |inquiry_detail| inquiry_detail.errors.present? } %>
    <div>
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @inquiry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>

        <% @inquiry.inquiry_details.each do |inquiry_detail| %>
          <% inquiry_detail.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :tel %></th>
      <td><%= f.text_field :tel %></td>
    </tr>
    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <table style="border-top: 2px solid #bbb;">
      <tr><br>
        <td>
        <% @free_form.present? %>
          <tr>
            <th><%= "詳細1" %></th>
            <th><%= "詳細2" %></th>
            <th><%= "詳細3" %></th>
            <th><%= "詳細4" %></th>
            <th><%= "詳細5" %></th>
          </tr>
          <%= f.fields_for :inquiry_details do |inquiry_f| %>
            <tr>
              <td><%= inquiry_f.text_field :detail %></td>
              <td><%= inquiry_f.text_field :detail2 %></td>
              <td><%= inquiry_f.text_field :detail3 %></td>
              <td><%= inquiry_f.text_field :detail4 %></td>
              <td><%= inquiry_f.text_field :detail5 %></td>
            </tr>
          <% end %>
        </td>
      </tr>
    </table>
  </table>
  <%= f.submit '確認' %>
<% end %>
